/* MAIN LAYOUT */
/* .main-layout {
    display: grid;
    grid-template-columns: 1.25em 1fr 1.25em;
} */

.main-layout>*:not(.full) {
    grid-column: 2;
}

.main-layout>.full {
    grid-column: 1 / -1;
}

/* GALLERY LAYOUT */

.gallery-layout {
    background-color: var(--clr1);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto, 5vw);
    grid-gap: 15px;

}

/* MEME EDITOR LAYOUT */
.editor-layout {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: .1fr auto;
    grid-template-areas:
        "h  h"
        "c  f"
        "c  f"
    ;
}

.modal-editor canvas {
    grid-area: c;
}

.modal-editor .editor-header {
    grid-area: h;

    justify-self: center;
    align-self: center;
}

.modal-editor .form-modal {
    grid-area: f;
    justify-self: center;
    align-self: center;
    display: grid;
    /* justify-items: auto; */
}
