.main-header {
    position: relative;
    background-color: var(--clrbase2);
    box-shadow: inset 0px -4px 1px var(--clrbase1),-2px 2px 3px inset var(--clrbase1);
}

.main-header .nav {
    height: 100%;
}

.main-menu a {
    
    border: none;
    border-inline-start: 1px solid var(--clr0);
    width: var(--nav-height);
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    padding-left: 16px;
    padding-right: 16px;
    transition: box-shadow 0.6s;
}

.main-header .main-nav a:last-child {
    border-inline-end: 1px solid var(--clr0);
}

.main-menu a:hover {
    color: var(--clrbase1);
    opacity: 0.5;
    cursor: pointer;
}

